<a href="https://colab.research.google.com/github/denize-graciano/Dicion-rio2-em-Python/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
uri = "https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/most-common-name/adjusted-name-combinations-list.csv"
nomes=pd.read_csv(uri)
nomes.head()

,Unnamed: 0,FirstName,Surname,Adjustment,cleanName,Estimate,finalEstimate
0,1,James,Smith,21.1,james smith,25837.931930,31289.735567
1,2,Michael,Smith,5.6,michael smith,29275.912856,30915.363976
2,3,Robert,Smith,8.7,robert smith,24005.215848,26093.669627
3,4,David,Smith,10.8,david smith,22613.772850,25056.060318
4,5,James,Johnson,9.6,james johnson,20498.043602,22465.855787

In [13]:
nomes.columns = ["Ordem", "Nome", "Sobrenome", "Adjustment", "NomeCompleto", "Estimativa", "finalEstimativa"]
nomes.head()

,Ordem,Nome,Sobrenome,Adjustment,NomeCompleto,Estimativa,finalEstimativa
0,1,James,Smith,21.1,james smith,25837.931930,31289.735567
1,2,Michael,Smith,5.6,michael smith,29275.912856,30915.363976
2,3,Robert,Smith,8.7,robert smith,24005.215848,26093.669627
3,4,David,Smith,10.8,david smith,22613.772850,25056.060318
4,5,James,Johnson,9.6,james johnson,20498.043602,22465.855787

In [14]:
nomes ["Nome"]

0        James
1      Michael
2       Robert
3        David
4        James
        ...
395      Maria
396      Maria
397      Maria
398      Maria
399      Maria
Name: Nome, Length: 400, dtype: object

In [15]:
nomes ["NomeCompleto"]

0         james smith
1       michael smith
2        robert smith
3         david smith
4       james johnson
            ...
395    maria thompson
396       maria moore
397       maria white
398      maria taylor
399     maria jackson
Name: NomeCompleto, Length: 400, dtype: object